<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ef40c66fba33237283cfb59ce3a907aa">
        </script>

        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@300&display=swap"
              rel="stylesheet">
        <style>
            * {
                font-family: 'Noto Sans KR', sans-serif;
            }

            .hero-head {
                width: 1400px;
                margin: auto;

            }

            .field {
                width: 600px;
                height: 10px;
                margin: auto;
            }

            .wrap {
                width: 1200px;
                margin: 80px auto;

            }

            p {
                text-align: center;
            }

            .margin {
                margin-bottom: 300px;
            }

        </style>
        <script>
            $(document).ready(function () {
                showThemes();
            });


            function showThemes() {
                $.ajax({
                    type: "GET",
                    url: "/theme",
                    data: {},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let themes = response["new_theme"];
                            console.log(themes);
                            for (let i = 0; i < themes.length; i++) {
                                makeThemeCard(themes[i]["name"], themes[i]["emoji"], themes[i]["spot1"], themes[i]["spot2"], themes[i]["spot3"])
                            }
                        }
                    }
                })
            }

            function showDetail(name) {
                $.ajax({
                    type: "GET",
                    url: "/detail",
                    data: {name: name},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let container = document.getElementById('map'); //지도 표시 div
                            let options = {
                                center: new kakao.maps.LatLng(37.547039703021895, 126.91316778932088), //지도의 중심좌표
                                level: 4 //지도의 확대 레벨
                            };

                            let map = new kakao.maps.Map(container, options); // 지도를 생성합니다

                            // 마커를 표시할 위치와 title 객체 배열입니다
                            let positions = [
                                {
                                    content: '<div style="padding:5px;">문데이 합정점</div>',
                                    latlng: new kakao.maps.LatLng(37.54587621050993, 126.9140139977622)
                                },
                                {
                                    content: '<div style="padding:5px;">화규 합정점</div>',
                                    latlng: new kakao.maps.LatLng(37.549219152218036, 126.91748776892605)
                                },
                                {
                                    content: '<div style="padding:5px;">냉장고 상수점</div>',
                                    latlng: new kakao.maps.LatLng(37.546727289228386, 126.9227342400898)
                                },
                                {
                                    content: '<div style="padding:5px;">스미비부타동 상수점</div>',
                                    latlng: new kakao.maps.LatLng(37.54957557560878, 126.92223665543467)
                                }
                            ];

                            // 마커 이미지의 이미지 주소입니다
                            let imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

                            for (let i = 0; i < positions.length; i++) {

                                // 마커 이미지의 이미지 크기 입니다
                                let imageSize = new kakao.maps.Size(24, 35);

                                // 마커 이미지를 생성합니다
                                let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                                // 마커를 생성합니다
                                let marker = new kakao.maps.Marker({
                                    map: map, // 마커를 표시할 지도
                                    position: positions[i].latlng, // 마커를 표시할 위치
                                    //title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                                    image: markerImage, // 마커 이미지
                                    //clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
                                });


                                // 마커에 표시할 인포윈도우를 생성합니다
                                let infowindow = new kakao.maps.InfoWindow({
                                    content: positions[i].content, // 인포윈도우에 표시할 내용

                                });

                                // 마커에 클릭이벤트를 등록합니다
                                kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow));

                            }

                            function makeClickListener(map, marker, infowindow) {
                                return function () {
                                    infowindow.open(map, marker);
                                };
                            }

                            function makeCloseListener(infowindow) {
                                return function () {
                                    infowindow.close();
                                };
                            }
                        }
                    }
                })
            }

            function makeThemeCard(name, emoji, spot1, spot2, spot3) {
                let tempHtml = `<div class="tile is-parent" onclick="showDetail('${name}')">
                                    <article class="tile is-child box">
                                        <p class="subtitle">${emoji}</p>
                                        <p class="subtitle has-text-black">${name}Bar</p>
                                    </article>
                                </div>`;
                console.log(tempHtml);

                $('#theme-card').append(tempHtml);
            }
        </script>
    </head>

    <body>
        <section class="hero is-warning is-medium">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div onclick="location.href = '/new_theme'" class="buttons">
                                <a class="button is-primary">
                                    <strong>새로운 테마 만들기</strong>
                                </a>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered" style="margin-bottom: 100px;">
                    <h2 class="subtitle">
                        지금 바로 떠나자!
                    </h2>
                    <h1 class="title is-size-1">
                        테마 여행
                    </h1>

                </div>
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input is-rounded" type="text" placeholder="어떤 여행을 떠나고 싶나요?">
                    </p>
                    <p class="control">
                        <a class="button is-success">
                            찾기
                        </a>
                    </p>
                </div>
            </div>
            <div class="wrap">
                <div class="container">
                    <div id="theme-card" class="tile is-ancestor">
                        <!--?<div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="subtitle">💛💛</p>
                                <p class="subtitle has-text-black">What is up?</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="subtitle">💛💛</p>
                                <p class="subtitle has-text-black">Bar</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="subtitle">💌</p>
                                <p class="subtitle has-text-black">Bar</p>
                            </article>
                        </div>-->

                    </div>
                </div>
            </div>
            <div id="map" style="width:1500px;height:740px;margin:auto;"></div>
            <div class="margin"></div>
        </section>
    </body>
</html>