<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@300&display=swap"
              rel="stylesheet">
        <style>
            html {
                height: 100%;
                width: 100%;
            }

            * {
                font-family: 'Noto Sans KR', sans-serif;
            }

            .wrap {
                width: 700px;
                margin: 10px auto;

            }

            #button {
                width: 100px;
                height: 53px;
                margin: 50px auto;
            }


        </style>
        <script>

            function get1() {
                $('#spot1-lat').val(lat);
                $('#spot1-lng').val(lng);
            }

            function get2() {
                $('#spot2-lat').val(lat);
                $('#spot2-lng').val(lat);
            }

            function get3() {
                $('#spot3-lat').val(lat);
                $('#spot3-lng').val(lat);
            }

            function formCheck() {
                let name = $('#name').val();
                let emoji = $('#emoji').val();
                let spot1 = $('#spot1').val();
                let spot1_lat = $('#spot1-lat').val();
                let spot1_lng = $('#spot1-lng').val();
                let spot2 = $('#spot2').val();
                let spot2_lat = $('#spot2-lat').val();
                let spot2_lng = $('#spot2-lng').val();
                let spot3 = $('#spot3').val();
                let spot3_lat = $('#spot3-lat').val();
                let spot3_lng = $('#spot3-lng').val();


                if (name == '') {
                    alert('이름을 적어주세요✏')
                    return
                } else if (emoji == 'none') {
                    alert('이모지를 골라주세요🎈')
                    return
                } else if (spot1 == '') {
                    alert('여행지를 적어주세요🚎')
                    return
                } else if (spot2 == '') {
                    alert('여행지를 적어주세요🚎')
                    return
                } else if (spot3 == '') {
                    alert('여행지를 적어주세요🚎')
                    return
                } else {
                    alert('성공적으로 등록되었습니다!👏')

                }
                $.ajax({
                    type: "POST",
                    url: "/themes",
                    data: {
                        name: name,
                        emoji: emoji,
                        spot1: spot1,
                        spot1_lat: spot1_lat,
                        spot1_lng: spot1_lng,
                        spot2: spot2,
                        spot2_lat: spot2_lat,
                        spot2_lng: spot2_lng,
                        spot3: spot3,
                        spot3_lat: spot3_lat,
                        spot3_lng: spot3_lng
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            window.location.reload();
                        }
                    }
                })
            }

        </script>
    </head>


    <body>
        <section class="hero is-warning is-small" style="height: 100%">
            <div class="hero-body" style="margin-top:140px" ;>
                <div class="container has-text-centered" style="margin-bottom: 100px;">
                    <h1 class="title is-size-1">
                        나의 여행 테마 만들기
                    </h1>
                </div>
            </div>
            <div class="wrap">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">테마 이름</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input id="name" class="input" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">이모지</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select id="emoji">
                                        <option value="none">선택</option>
                                        <option value="😀">😀</option>
                                        <option value="😁">😁</option>
                                        <option value="😂">😂</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" onclick="get1()">여행지 1</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-horizontal">
                            <div class="control">
                                <input id="spot1" class="input" type="text" placeholder="">
                            </div>
                            <div class="control">
                                <input id="spot1-lat" class="input" type="text" placeholder="">
                            </div>
                            <div class="control">
                                <input id="spot1-lng" class="input lng" type="text" placeholder="">
                            </div>
                            <p class="control">
                                <button class="button is-info" onclick="get1()">
                                    확인
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">여행지 2</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-horizontal">
                            <div class="control">
                                <input id="spot2" class="input" type="text" placeholder="">
                            </div>
                            <div class="control">
                                <input id="spot2-lat" class="input" type="text" placeholder="">
                            </div>
                            <div class="control">
                                <input id="spot2-lng" class="input lng" type="text" placeholder="">
                            </div>
                            <p class="control">
                                <button class="button is-info" onclick="get2()">
                                    확인
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">여행지 3</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-horizontal">
                            <div class="control">
                                <input id="spot3" class="input" type="text" placeholder="">
                            </div>
                            <div class="control">
                                <input id="spot3-lat" class="input" type="text" placeholder="">
                            </div>
                            <div class="control">
                                <input id="spot3-lng" class="input lng" type="text" placeholder="">
                            </div>
                            <p class="control">
                                <button class="button is-info" onclick="get3()">
                                    확인
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="map" style="width:650px;height:400px;margin:auto;"></div>
                <div id="button" class="field is-grouped">
                    <p class="control">
                        <button onclick="formCheck()" class="button is-info">
                            등록하기
                        </button>
                    </p>
                    <p class="control">
                        <button onclick="location.href = '/'" class="button">
                            돌아가기
                        </button>
                    </p>

                </div>
            </div>
        </section>
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ef40c66fba33237283cfb59ce3a907aa"></script>
        <script>
            let lat, lng; // Irvin: 전역 변수 선언
            let mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            let map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다


            // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

            // 지도를 클릭한 위치에 표출할 마커입니다
            let marker = new kakao.maps.Marker({
                // 지도 중심좌표에 마커를 생성합니다
                position: map.getCenter()
            });
            // 지도에 마커를 표시합니다
            marker.setMap(map);

            // 지도에 클릭 이벤트를 등록합니다
            // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
            kakao.maps.event.addListener(map, 'click', function (mouseEvent) {

                // 클릭한 위도, 경도 정보를 가져옵니다
                let latlng = mouseEvent.latLng;

                // 마커 위치를 클릭한 위치로 옮깁니다
                marker.setPosition(latlng);

                lat = latlng.getLat();
                lng = latlng.getLng();
                /*var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
                message += '경도는 ' + latlng.getLng() + ' 입니다';

                var resultDiv = document.getElementById('clickLatlng');
                resultDiv.innerHTML = message;*/

            });


        </script>
    </body>
</html>